body {
  background: #c3dbf4;
  font-family: "Montserrat", sans-serif;
  font-weight: 30 bolder;
  text-align: center;
}

button {
  margin-left: 105px;
  position: inherit;
  margin: 20px;
  border-color: #b5d2f0;
}

div {
  margin: 20px;
  text-align: center;
}
span {
  text-align: center;
}
li {
  list-style: none;
}
ul {
  text-align: 0px;
}
.box {
  margin: 30px;
  max-width: 900px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(243, 243, 236);
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-temperature-min {
  font-weight: 500 bolder;
}
.weather-forecast-description {
  font-family: "Montserrat", sans-serif, italic;
}
