body {
  background: #c3dbf4;

  font-weight: 30 bolder;
  text-align: center;
}

button {
  margin-left: 105px;
  position: inherit;
  margin: 20px;
  border-color: #b5d2f0;
}

div {
  margin: 2px;
  text-align: center;
  font-family: "Montserrat", sans-serif, italic;
  font-weight: 10 bolder;
}
span {
  text-align: center;
}
li {
  list-style: none;
  font-size: medium;
}
ul {
  text-align: 0px;
  font-size: large;
}
.box {
  margin: 30px;
  max-width: 1200px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(243, 243, 236);
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-temperature-min {
  font-size: smaller;
}
.weather-forecast-description {
  font-size: small;
  font-style: italic;
}
.center {
  font-style: italic;
}
.col-2 {
  border: 1px solid white;
  border-radius: 5px;
  max-width: 150px;
}
.city-name {
  font-size: larger;
}
